.container {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  width: max-content;
  animation: move 20s linear infinite;
  gap: 0.25rem;
}

.carousel img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
