.photoPage {
  width: 100%;
}

.text {
  margin: 1rem 0 0;
}

.photo {
  position: relative !important;
  margin: 0 auto;
  width: 10rem !important;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  display: block;
  clip-path: ellipse(46% 45% at 50% 50%);
  -webkit-clip-path: ellipse(46% 45% at 50% 50%);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}