.button {
  height: 2rem;
  width: 9rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: bold;
}

.disabled {
  background-color: grey;
}